
/* Genesis */

body {
  color: white;
  font-family: helvetica;
}
div {
  display: block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Top Header */

.top-head .container {
  display: flex;
  align-items: center;
  padding: 20px;
}
.top-head {
  background-color: black;
}
.top-head img {
  padding-right: 11px;
  height: 23px;
}
.top-head span {
  font-size: 16px;
}

/* Mid Header */

.mid-head {
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}
.mh-txt {
  background-color: black;
  padding: 2em;
  position: relative;
  top: 6em;
  width: 19em;
}
.mh-txt h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
.mh-txt h1 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 2em;
}

/* Navigation */

nav {
  background-color: maroon;
}
ul {
  display: flex;
  justify-content: space-between;
}
ul .desktop-menu {
  display: inline-block;
  padding: 1em 2em;
}
li:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
  color: maroon;
}
a {
  text-decoration: none;
  color: white;
}
#menu {
  display: none;
}

/* Product Section */

.products {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}
.product {
  width: auto;
  border: 4px solid black;
  text-align: center;
  height: 315px;
}
.product span {
  background-color: black;
  padding: 1em;
  display: block;
}
.pimg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.glasses {
  padding-bottom: 67px;
  padding-top: 43px;
}
.pimg img {
  max-width: 13em;
  background-color: white;
  padding: 2em;
}

/* Location and Hours */

.loc-hrs {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
#loc {
  color: black;
}
#hrs {
  color: black;
}
.location div, .hours div {
  background-color: black;
  padding: 1em 16em 1em 1em;
  margin-bottom: 7px;
}

/* Footer Section */

.footer {
  background-color: black;
  margin-top: 3em;
  padding: 5em 0em;
}

/* Responsive for Tablets */

@media only screen and (max-width: 1024px) {

  /* Genesis */

  /* Navigation */

  ul .desktop-menu {
    display: none;
  }
  ul {
    justify-content: center;
  }
  #menu {
    display: inline-block;
    padding: 1em 2em;
  }

  /* Product Section */

  .pimg img {
    max-width: 9em;
  }
  #glasses {
    display: none;
  }
  .product {
    width: 47%;
    height: 251px;
  }

  /* Location Section */

  .location, .hours {
    width: 14em;
  }
  .location div, .hours div {
    padding-right: 13em;
  }
}

/* Responsive for small devices */

@media only screen and (max-width: 470px) {

  /* Genesis */

  /* Top header */

  .top-head .container {
    justify-content: center;
  }
  .top-head span {
    display: none;
  }

  /* Mid Header */

  .mh-txt {
    top: 236px;
    width: auto;
  }
  .mh-txt h1 {
    font-size: 30px;
  }

  /* Product Section */

  #watch {
    display: none;
  }
  .products {
    justify-content: center;
  }
  .product {
    width: auto;
  }

  /* Location Section */

  .loc-hrs {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 357px) {
  .mh-txt {
    top: 241px;
  }
  .mh-txt h1 {
    font-size: 27px
  }
}
